@font-face {
	font-family: 'Gilroy-Bold';
	src: url(../fonts/Gilroy-Bold.woff2) format('woff2'),
		url(../fonts/Gilroy-Bold.woff) format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url(../fonts/Gilroy-Medium.woff2) format('woff2'),
		url(../fonts/Gilroy-Medium.woff) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;

}
body {
	line-height: 1;
	font-family: 'Gilroy-Bold';
	color: #070707;
}

/*?------------------------------- */
.page{
	flex: 1 1 auto;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
[class*="__container"]{
	max-width: 943px;
	margin: 0 auto;
}
@media (max-width: 1199.98px) {
	[class*="__container"]{
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	[class*="__container"]{
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"]{
		max-width: none;
		padding: 0 15px;
	}
}
/*?----HEADER--------------------------- */

.header {
	padding-top: 32px;
	padding-bottom: 32px;
}
.header__menu{
	flex: 1 1 auto;
}
.menu__item{
	
}
.menu__list {
	column-gap: 45px;
	row-gap: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.menu__link {
	color:#828282;
	transition: text-decoration 0.3s ease 0s;
	font-size: 18px;
}
.menu__link_home{
	color:#070707
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 767.98px) {
	.menu__list {
		flex-wrap: wrap;
		justify-content: center;
	}
}
/*?----HEADER--------------------------- */
.main__block {
	padding-top: 36px;
}
.main-block__container {
}
.main-block__body {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	align-items: center;
}
.main-block__title {
	text-transform: uppercase;
	font-size: 47.3392px;
	line-height: 59px;
}
.lang{

}
.main-block__text {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
}
.main-block__image {
}